.Big-Box-1{
    width: 100vh;
    height: 33vh;
    border: 2px solid black;
    display: flex;
    margin: auto;

}

.purple{
    width: 10%;
    height: 80%;
    background-color: blueviolet;
    margin-top: 5%;
    margin-left: 2%;
}

.green{
    width: 35%;
    margin: auto;
    margin-left: 4%;
    height: 90%;
    background-color: green;
}

.blue{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(83, 83, 161);
    margin: auto;
    margin-left: 2%;
}
.Big-Box-2{
    width: 100vh;
    height: 33vh;
    border: 4px dotted black;
    display: flex;
    margin: auto;
    margin-top: 10px;

}
.box-in-box{
    width: 90%;
    height: 70%;
    background-color: rgb(250, 218, 176);
    margin: auto;
    box-shadow: .5em .5em .5em;
}

.text{
    width: 50vh;
    height: 40vh;
    border: 2px solid black;
    display: flex;
    margin: auto;
    margin-top: 10px;
    box-shadow: .2em .2em .4em gray;
    border: 1px solid gray;
}
 h1{
     text-align: center;
     margin: auto;
     margin-top: 20%;
     color: blue;
     font-size: 2em;
     font-family:  times 'Times New Roman', Times, serif
 }

